body{
    background-color: white;
    margin: 0px;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to top, white, rgba(32, 184, 32, 0.441));
}
main > img{
    display: block;
    margin: auto;
}